@model PluginTime.PluginTime

@{
    ViewData["Title"] = "TIME";
    Layout = "_Layout";
}

<h1>Hello world from Time!</h1>
<h3>@Model.GetName()</h3>
<h3>@Model.GetDescription()</h3>
<h3>@Model.GetVersion()</h3>

