@{
    ViewData["Title"] = "Home Page";
}

<p>Hello from the web app.</p>

<ul>
    <li><a href="/time/myplugin">/time</a></li>
    <li><a href="/hr/myplugin">/hr</a></li>
    <li><a href="/hr/myplugin/Testing">/hr Testing</a></li>
</ul>
