@model PluginHR.PluginHR

@{
    ViewData["Title"] = "HR";
    Layout = "_Layout";
}

<h1>Hello world from HR!</h1>
<h3>@Model.GetName()</h3>
<h3>@Model.GetDescription()</h3>
<h3>@Model.GetVersion()</h3>

